*{
    margin: 5px 0;
}
body{
    margin: 0;
}
.container{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid rgb(240, 230, 230);
    background-color: rgb(255, 250, 250);
    
}


#start{
   justify-content: center;
   align-items: center;
    
}

#end{
    width: 20%;
    justify-content: space-between;
}

.body{
    position: relative;
   
}

.flex{
    display: flex;
}

.left-bar{
   width:20%;
 border: 1px solid lightgray;
 background-color: rgb(255, 250, 250);
}
.right-bar{
   width: 80%;
   height: 20%;
   border: 1px solid lightgrey;
}
.side{
    margin-top: 2rem;
}
.etag{
   justify-content: space-evenly;
}
.content{
    display: block;
    background-color: rgb(247, 238, 238);

}
.tags{
    padding: .5rem;
    border-radius: 40%;
    justify-content: space-evenly;
    background-color: rgb(185, 179, 179);
  
}
#video-divs{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
   
    justify-content: space-around;
}

#search-bar{
width: 20rem;
height: 1.5rem;

}
.video-div{
    margin-inline: auto;
   width: 18rem;
   text-align: left;
   justify-self: center;
}

.home{
    align-items: center;
    
}